In [3]:
import numpy as np

### the cell below defines randon number generator as gen

In [4]:
gen = np.random.default_rng()

#### generating 100 random integers between 0 and 50 using np.random.default_rng() syntax.

In [6]:
x = gen.integers(0, 51, 100)
x

array([ 0, 22, 25, 21, 35, 28, 33,  5, 16, 19, 47, 29, 10, 35, 21, 44, 37,
       38, 19, 28, 22, 49, 26, 27,  4, 17, 12,  0,  1, 11, 17, 39, 39,  0,
       46, 24,  2, 49,  8,  5, 16, 44, 41, 18, 39, 26, 30, 14,  6, 10, 10,
       37, 10,  1, 36, 33, 45, 41, 36, 11, 18, 38, 43, 41,  2, 24,  4, 26,
       17,  8, 50, 18, 37, 46, 37, 29, 37, 49,  6, 20, 25, 44, 15,  4,  6,
       32, 27,  3, 23, 12, 10,  2, 45, 15, 24, 27, 38, 17, 16, 48],
      dtype=int64)

### the cell below returns the maximum number in the array

In [8]:
np.max(x)

50

### the cell below returns the average of the arrays.

In [7]:
np.mean(x)

23.97

### the code below returns the lowest number in the array.

In [9]:
np.min(x)

0

In [12]:
x2 = [25 + i + 1 for i in x]
x2

[26,
 48,
 51,
 47,
 61,
 54,
 59,
 31,
 42,
 45,
 73,
 55,
 36,
 61,
 47,
 70,
 63,
 64,
 45,
 54,
 48,
 75,
 52,
 53,
 30,
 43,
 38,
 26,
 27,
 37,
 43,
 65,
 65,
 26,
 72,
 50,
 28,
 75,
 34,
 31,
 42,
 70,
 67,
 44,
 65,
 52,
 56,
 40,
 32,
 36,
 36,
 63,
 36,
 27,
 62,
 59,
 71,
 67,
 62,
 37,
 44,
 64,
 69,
 67,
 28,
 50,
 30,
 52,
 43,
 34,
 76,
 44,
 63,
 72,
 63,
 55,
 63,
 75,
 32,
 46,
 51,
 70,
 41,
 30,
 32,
 58,
 53,
 29,
 49,
 38,
 36,
 28,
 71,
 41,
 50,
 53,
 64,
 43,
 42,
 74]